/* .parent{
display: flex;
padding-top: 10%;
}
.bg{
  align-items: center;
    background-color: blueviolet;
    height: 320px;
    width: 320px;
    border-radius: 50px;
    margin-left: 10%;
    margin-top: 0%;
   
}
 .photo{
  position: absolute;
    height: 300px;
    width: auto;
    padding-left: 9%;
  }
  .rotate {
    animation: rotation 20s;
  }
  
  .linear {
    animation-timing-function: linear;
  }
  
  .infinite {
    animation-iteration-count: infinite;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
   */

   body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .qwe{
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px red, 0px 0px 0px 20px green, 0px 0px 0px 30px yellow, 0px 0px 0px 40px blue, 0px 0px 0px 50px skyblue, 0px 0px 0px 60px pink;
    width: 100px;
    height:100px;
    margin: 3em;
  }